[% META title = "VLP0009"
		date = "2017-03-29"
		header = "Rümker's balance for grain"
		figcaption = "Rümkersche Körnerwaage"
		source = "Hillmann, Paul. 1910. Die deutsche landwirtschaftliche Pflanzenzucht. Berlin: Deutsche Landwirtschafts-Gesellschaft"
		people = "Hering, Karl Ewald Konstantin (1834-1918)"
		sites = "Physiological Institute, University of Leipzig (1909)"
		literature = "Westphal, Rudolf. 1865. Geschichte der alten und mittelalterlichen Musik. Breslau: F. E. C. Leuckart (Staatliches Institut für Musikforschung)"
		comment = "Przybyszewski, who was one of Waldeyer's students, made his literary debut in 1892 with Zur Psychologie des Individuums (The Psychology of the Individual)."
		image = "img4439"
%]

<div class="topsection">	
	<div class="figure">
        <img src="./images/[% template.image %].jpg" width="auto" height="auto" class="fig" />"
		<p class="figcaption">[% template.figcaption %]</p>		
	</div>	
	<div class="head">
		<h1>[% template.title %]</h1>
	 </div> <br clear="all" />
</div> <!-- topsection -->

<table>
	<tr>
		<th>Source</th>
		<td>
			[% template.source %]
		</td>
	</tr><tr>
			  <th>People</th><td>[% template.people %]</td>
	</tr><tr>
			  <th>Sites</th><td>[% template.sites %]</td>
	</tr><tr>
			  <th>Related Literature</th><td>[% template.literature %]</td>
	</tr><tr>
			  <th>Comment</th><td>[% template.comment %]</td>
	</tr><tr>
			  <th>Description</th><td>[% template.title %]</td>
	</tr>
				
</table>