[% META title = "VLP" 
	 	source = "Gscheidlen, Richard. 1876. Physiologische Methodik: Ein Handbuch der Praktischen Physiologie. Braunschweig: Vieweg
		& Sohn"
		people = "Werner Müller"
		desc = "A pair of Bellows"
		figcap = "Blasebalg"
		comment = "Hallo"
%]

<div class="topsection">	
	<div class="figure">
		<img src="./images/img4748.jpg">
		<p class="figcaption">[% template.figcap %]</p>		
	</div>	
	<div class="head">
		<h1>[% template.title %]</h1>
	 </div> <br clear="all" />
</div> <!-- topsection -->

<table>
	<tr>
		<th>Source</th>
		<td>
			[% template.source %]
		</td>
	</tr><tr>
			  <th>People</th><td>[% template.people %]</td>
	</tr><tr>
			  <th>Sites</th><td>&nbsp;</td>
	</tr><tr>
			  <th>Related Literature</th><td>&nbsp;</td>
	</tr><tr>
			  <th>Comment</th><td>[% template.comment %]</td>
	</tr><tr>
			  <th>Description</th><td>[% template.desc %]</td>
	</tr>
				
</table>