body  {
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 27px;
	color: #333333;
	background-color: #78807A;
	
}

.navbartop {
	background-color: #333333;
	
}


.navbartop ul {
	text-align: left;
	list-style: none;
	width: 100%;
	overflow: auto;
	border-bottom: 1px solid;
	
}	
	
.navbartop li {
	float: left;
	width: 110px;
	border: 1px solid white;
	padding: 5px;
	margin: 5px;
	color: white;
}

.content {
	margin-left: 40px;
	background-color: #E6E6E6;
	padding: 10px;
	
}

.content table {
	margin: 20px;
	
	
}

.content th {
	text-align: left;
	padding: 10px;
	vertical-align: top;
	
}	

.content td {
	text-align: left;
	padding: 10px;
	vertical-align: top;
	
}

.content tr:nth-child(odd) {
	background-color: white;
	
	
}